<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="login-dark" style="max-width:auto;max-height:auto;margin-right:0px;margin-bottom:0px;">
        <form action="/" method="post" style="height:517px;margin-top:-131px;width:371px;min-width:0px;max-width:346px;">
            <h2 class="sr-only">Login Form</h2>
            
            <div class="illustration">
                <img class="img-fluid" src="assets/img/rmkcetlogo.png" width="150px" style="margin-top:-99px;max-width:116px;height:177px;">
            </div>
            
            <div class="form-group">
                <input class="form-control bounce animated" type="text" name="regID" required="" placeholder="Register Number" autofocus="" style="font-family:'Alegreya Sans SC', sans-serif;">
            </div>
            
            <label style="width:215px;font-size:20px;">
                Department&nbsp;
            </label>
            
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="dept" value="CSE" required="" id="formCheck-1">
                <label class="form-check-label" for="formCheck-1">
                    CSE
                </label>
            </div>
            
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="dept" value="ECE" required="" id="formCheck-1">
                <label class="form-check-label" for="formCheck-1">
                    ECE
                </label>
            </div>
            
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="dept" value="MECH" required="" id="formCheck-1">
                <label class="form-check-label" for="formCheck-1">
                    MECH
                </label>
            </div>
            
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="dept" value="EEE" required="" id="formCheck-1">
                <label class="form-check-label" for="formCheck-1">
                    EEE
                </label>
            </div>
            
            <div class="form-group">
                <input class="form-control bounce animated" type="password" name="password" required="" placeholder="Password" style="font-family:'Alegreya Sans SC', sans-serif;">
            </div>
            
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" style="font-family:Aldrich, sans-serif;">
                    Log In
                </button>
            </div>
            
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>